.login{
    margin-top: 20rem;
    
}
.login button{
    font-size: 3rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.login button:hover,
.login button:active{
    background-color: brown;
    color: aliceblue;
    border-color: aliceblue;
}

.login label{
    font-size: 3rem;
    padding: 0.5rem;
}
.login input{
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 50px;
    border-color: aliceblue;
    width: 20rem;
    font-size: 20px;
    font-weight: bold;

}