.player {
  font-size: xx-large;
  display: flex;
  color: #f2f3f7;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  
}

.player button {
  border-radius: 50px;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  padding: 0.5rem;
  cursor: pointer;
}

.player button:hover,
.player button:active {
  background-color: #fe3b32;
  color: #f2f3f7;
  border-color: #f2f3f7;
}
